<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wan.mapper.AllGroupsMapper">
    <select id="selectAllGroups" resultType="AllGroups">
        select * from allgroups
    </select>

    <delete id="deleteGroupById" parameterType="Integer">
        delete from allgroups where id = #{id}
    </delete>

    <insert id="addGroups" parameterType="AllGroups">
        insert into allgroups(name,introduce) values(#{name},#{introduce})
    </insert>

    <update id="updateGroupsById" parameterType="AllGroups">
        update allgroups set name = #{name},introduce = #{introduce} where id = #{id}
    </update>

    <select id="selectSingleGroupById" parameterType="Integer" resultType="AllGroups">
        select * from allgroups where id = #{id}
    </select>

</mapper>