<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wan.mapper.GroupMunMapper">

    <select id="showGroupsMunById" parameterType="Integer" resultType="GroupMun">
        select * from groupmun where group_id = #{groupId}
    </select>

    <delete id="delGroupMunById" parameterType="Integer">
        delete from groupmun where id = #{id}
    </delete>

    <insert id="AddGroupMun" parameterType="GroupMun">
        insert into groupmun(name,gender,number,work,group_id) values(#{name},#{gender},#{number},#{work},#{groupId})
    </insert>

    <update id="UpdateGroupMunById" parameterType="GroupMun">
        update groupmun set name = #{name},gender = #{gender},number = #{number},work = #{work},group_id = #{groupId} where id = #{id}
    </update>

    <select id="showSingleGroupsMunById" parameterType="Integer" resultType="GroupMun">
        select * from groupmun where id = #{id}
    </select>

    <select id="showAll" resultType="GroupMun">
        select * from groupmun
    </select>

</mapper>