<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wan.mapper.UsersMapper">

    <select id="getPasswordByName" parameterType="String" resultType="String">
        select password from users where name = #{username}
    </select>

    <insert id="AddUsers" parameterType="Users">
        insert into users(name,password) values(#{name},#{password})
    </insert>

</mapper>